//- Newspad ver. 1
//- Copyright (c) Microsoft Corporation
//- All rights reserved. 
//- Licensed under the Apache License, Version 2.0 (the ""License""); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
//- THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABLITY OR NON-INFRINGEMENT. 
//- See the Apache Version 2.0 License for specific language governing permissions and limitations under the License.

extends layout 

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  div.container
    div.row
      div.span6
        h1= title
        p Embed Code:
    div.row-fluid
      div.span4
        textarea(style="width:100%")
    div.row-fluid
      div.span12
        | <a id="newspad_article" href="/Cat_Pictures/read" data-article-id="new" data-width="500px" data-height="650px" class="newspad-article">Read about "new" on NewsPad</a>
        |  <script type="text/javascript">!function(d,s,id){var e,f=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){e=d.createElement(s);e.id=id; e.src=p+"://" + window.location.host  + "/javascripts/app/embed.js"; f.parentNode.insertBefore(e,f);}}(document,"script","newspad-embed");</script>
