//- Newspad ver. 1
//- Copyright (c) Microsoft Corporation
//- All rights reserved. 
//- Licensed under the Apache License, Version 2.0 (the ""License""); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
//- THIS CODE IS PROVIDED *AS IS* BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR CONDITIONS OF TITLE, FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABLITY OR NON-INFRINGEMENT. 
//- See the Apache Version 2.0 License for specific language governing permissions and limitations under the License.

extends plainlayout 

block content
  link(rel='stylesheet', href='/stylesheets/seattle.css')
  div.container
    div.row-fluid
      div.span12.well
        h1 Future Seattle News
        h4 Browse Seattle's trending discussions and click "Create NewsPad" to crowdsource a new post
    div.row-fluid
      // FIRST CARD
      div.card.span4
        img(src="http://farm5.staticflickr.com/4082/4763057026_e2187b06ef_n.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/343140132829921281/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>It&#39;s time Seattle Zombies! Join the horde at our 5th Annual RED WHITE &amp; DEAD ZOMBIE WALK Seattle Center on July... <a href="http://t.co/BmAsp8ViFI">http://t.co/BmAsp8ViFI</a></p>&mdash; ZOMBCON (@ZomBcon) <a href="https://twitter.com/ZomBcon/statuses/343140132829921281">June 7, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      // SECOND CARD
      div.card.span4
        img(src="https://farm4.staticflickr.com/3755/8991228156_a84a086bcb_n.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/344194495199457280/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>Gentrifying Capitol Hill park space means Capitol Hill Garage Sale Day VII will need new home <a href="http://t.co/I9pPihAUwa">http://t.co/I9pPihAUwa</a> Pesky $750k grants!</p>&mdash; jseattle (@jseattle) <a href="https://twitter.com/jseattle/statuses/344194495199457280">June 10, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      // THIRD CARD
      div.card.span4
        img(src="http://ww3.hdnux.com/photos/01/64/13/475842/3/628x471.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/364078050670948352/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>A <a href="https://twitter.com/WalkingPapers1">@WalkingPapers1</a> hydroplane? <a href="https://twitter.com/DuffMcKagan">@DuffMcKagan</a> ambassador? <a href="https://twitter.com/subpop">@subpop</a> co-founder Grand Marshall of the parade? Hell yes, I&#39;m a <a href="https://twitter.com/search?q=%23Seafair&amp;src=hash">#Seafair</a> fan again!!</p>&mdash; Sister ★ Stargazer ♪ (@SisterStargazer) <a href="https://twitter.com/SisterStargazer/statuses/364078050670948352">August 4, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    div.row-fluid
      div.span12
    div.row-fluid
      div.card.span4
        img(src="https://pbs.twimg.com/media/BJNrsB0CIAEapN1.jpg:large")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/329733662033719296/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>Brief disturbance earlier at 5th and Jackson between superheroes and clowns. Everything&#39;s under control. <a href="https://twitter.com/search?q=%23SeaMayDay&amp;src=hash">#SeaMayDay</a></p>&mdash; Seattle Police Dept. (@SeattlePD) <a href="https://twitter.com/SeattlePD/statuses/329733567582187520">May 1, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      div.card.span4
        img(src="http://img1.etsystatic.com/004/0/5542755/il_570xN.365540231_4rz1.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/330251592848785408/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>via <a href="https://twitter.com/DejoPetrova">@DejoPetrova</a>: Spring trends <a href="http://t.co/xDnoK2WAAD">http://t.co/xDnoK2WAAD</a> <a href="https://twitter.com/search?q=%23681team&amp;src=hash">#681team</a> <a href="https://twitter.com/search?q=%23handmadebot&amp;src=hash">#handmadebot</a> <a href="https://twitter.com/search?q=%23jakarta&amp;src=hash">#jakarta</a> <a href="https://twitter.com/search?q=%23like2&amp;src=hash">#like2</a> <a href="https://twitter.com/search?q=%23myhandmadetweet&amp;src=hash">#myhandmadetweet</a> <a href="https://twitter.com/search?q=%23Vancouver&amp;src=hash">#Vancouver</a> <a href="https://twitter.com/search?q=%23artpromoter&amp;src=hash">#artpromoter</a> <a href="https://twitter.com/search?q=%23s&amp;src=hash">#s</a></p>&mdash; Jakarta Giat Sedekah (@JakartaGiat) <a href="https://twitter.com/JakartaGiat/statuses/330223956864954369">May 3, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      div.card.span4
        img(src='https://pbs.twimg.com/media/BJeQ2fLCIAAz5eC.jpg:large')
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/330815104838930432/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>Any places showing the Mayweather fight tonight?</p>&mdash; Nam Nice (@NAM_NICE) <a href="https://twitter.com/NAM_NICE/statuses/330815104838930432">May 4, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    div.row-fluid
      div.span12
    div.row-fluid
      div.card.span4
        img(src="https://pbs.twimg.com/media/BJl5gW-CUAAhsBF.jpg:large")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/331429644391829504/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>Another hot and sunny day in the beautiful northwest! <a href="https://twitter.com/search?q=%23sunnyinseattle&amp;src=hash">#sunnyinseattle</a> <a href="https://twitter.com/search?q=%23paradise&amp;src=hash">#paradise</a> <a href="http://t.co/HVoM5OoUBt">pic.twitter.com/HVoM5OoUBt</a></p>&mdash; CORISUCat (@Christina_Ho) <a href="https://twitter.com/Christina_Ho/statuses/331429644391829504">May 6, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      div.card.span4
        img(src="http://cf2.foodista.com/sites/default/files/styles/featured/public/field/image/taquitos.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/331089034673799168/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p><a href="https://twitter.com/justinrubin">@justinrubin</a> <a href="https://twitter.com/turboangie">@turboangie</a> happy <a href="https://twitter.com/search?q=%23cincodemayo&amp;src=hash">#cincodemayo</a> from <a href="https://twitter.com/search?q=%23seattle&amp;src=hash">#seattle</a>!</p>&mdash; Ben Bergman (@thebenbergman) <a href="https://twitter.com/thebenbergman/statuses/331089034673799168">May 5, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      div.card.span4
        img(src="http://farm9.staticflickr.com/8460/7983762324_3ecaef0cbe_m.jpg")
        div(align="center")
          br
          a.btn.btn-inverse(href="http://newspad.at/331549860559994880/read") Create NewsPad
          br
        |<blockquote class="twitter-tweet"><p>Summer in May continues: Summer in May continues. After record heat today we are in for some nice wea... <a href="http://t.co/jm8KnU3GVt">http://t.co/jm8KnU3GVt</a> <a href="https://twitter.com/search?q=%23seattle&amp;src=hash">#seattle</a></p>&mdash; Seattle News Network (@NewsSeattleWa) <a href="https://twitter.com/NewsSeattleWa/statuses/331549860559994880">May 6, 2013</a></blockquote>
        |<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    div.row-fluid
      div.span12
    //div.row-fluid
      div.card.span4
      div.card.span4
      div.card.span4
    //div.row-fluid
      div.span12
    //div.row-fluid
      div.card.span4
      div.card.span4
      div.card.span4

